.color333 {
    color: #333
}

.paragraphOne {
    padding-left: 10px; margin-top: 0; margin-bottom: 5px
}

.fontStrong {
    font-weight: bold; color: #404040cf; font-size: 22px
}

.paragraphTwo {
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 10px;
    font-size: 14px;
}

.paragraphThree {
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 38px;
    font-size: 11px;
    position: relative;
}

.paragraphFour {
    text-decoration: none !important;
    color: #333;
    padding-bottom: 6px;
    display: block;
}

.imgOne {
    width: 26px;
                      position: absolute;
                      margin-top: -2px;
                      left: 7px;
}

.spanOne {
    background: #45c4019e;
    width: 100px;
    display: block;
    height: 2px;
    margin: 7px auto 15px auto;
}

.paragraphFive {
    margin-top: 17px;
    padding-left: 38px;
    font-size: 12px;
    position: relative;
}

.linkOne {
    text-decoration: none !important;
    color: #333;
    font-size: 13px;
}

.linkTwo {
    width: 26px;
    position: absolute;
    margin-top: -2px;
    left: 7px;
}

.tablePone {
    position: relative;
    padding-left: 20px;
    position: relative;
    vertical-align: bottom;
}

.spanLast {
    position: absolute;
    width: 1px;
    height: 60px;
    background: #45c4019e;
    top: 48px;
    left: 10px;
}

.lifecoin {
    margin-right: 5px; width: 130px
}