.tableOne {
    padding-left:10px; color:rgb(85, 85, 85); font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;
}

.tableTwo {
    color:rgb(97, 188, 0); font-weight:bold;
}

.wrap {
    white-space:nowrap
}

.tableThree {
    color:rgb(85, 85, 85); text-decoration:none;
}

.tableFour {
    padding-left:10px;white-space:nowrap;vertical-align: middle;
}

.vertAlign {
    vertical-align: middle;
}

.tableFive {
    text-decoration: none; color: transparent; margin-top: 5px;
}